.container {
    margin: 2em;
    border-radius: .5em;
    background-color: var(--cor-de-fundo);
}

.titulo {
    margin: 1em;
    border-bottom: 1px solid black;
}

.inputs{
    margin: 2em;
}

.inputs label {
    display: block;
    padding-bottom: 1em;
    width: 100%;
}

.input_crm, .input_especialidade {
    width: 20%;
}

.input_nome {
    width: 40%;
}

.botoes {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin: 2em;
}

.botao {
    background-color: gray;
    padding: .5em 3em;
    border-radius: 1em;
    cursor: pointer;
}

.botao_clicado {
    background-color: green;
    padding: .5em 3em;
    border-radius: 1em;
    cursor: pointer;
}

.botao_rodape {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

@media only screen and (max-width: 900px) {

    .input_crm, .input_especialidade, .input_status {
        width: 40%;
    }
    
    .input_nome {
        width: 70%;
    }

    .botoes, .botao, .botao_clicado {
        flex-direction: column;
        margin-bottom: 1em;
    }
}

@media only screen and (max-width: 500px) {

    .input_crm, .input_especialidade, .input_status {
        width: 100%;
    }
    
    .input_nome {
        width: 100%;
    }

    .botoes, .botao, .botao_clicado {
        flex-direction: column;
        margin-bottom: 1em;
    }
}